@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background gradient untuk header */
.dashboard-header {
    background: linear-gradient(135deg, #3498db, #2ecc71);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Styling untuk judul dashboard */
.dashboard-title {
    font-size: 36px;
    font-weight: bold;
}
